{% extends "websitedynamic/base.html" %}

{% block content %}
<div>
    <h1>Contact details</h1>
    <div>
        <h2>Contact person:</h2>
            <h4>Vijay Kharti (director)</h4>

        <h2>Address:</h2>
        <h4>Copper Private Limited</h4>
        <h4>No. 1-A, Puliambedu, Numbal,</h4>
        <h4> Off Poonamallee High Road,</h4> 
        <h4>Chennai - 600077,</h4> 
        <h4>Tamil Nadu, India</h4>
        
        <h2>Call us:</h2>
        <h4>080678 54633</h4>
    </div>
    <div>

        <h1>Other contact details</h1>
        <h4>Sales Enquiry</h4>
        <h4> Kavita</h4> 
        <h4>1A puliembedu, Numbal, Off PH Rd,</h4>
        <h4>Chennai - 600077, India</h4>

        <h3>Head Office</h3>
        <h4>Kamal Khatri,</h4>
        <h4>1A Puliembedu, Numbal,</h4> 
        <h4>Off Poonamallee High Road, India</h4>
        
        

        <h3>Branch Office</h3>
        <h4>Vijay Khatri</h4>

        <h3>Head Office</h3>
        <h4>Srinivasan</h4>
        <h4>1A puliembedu, Numbal,</h4>
        <h4> Off PH Rd, Chennai -600077, India</h4>

       </div>
</div>

{% endblock  %}